<div class="row">
  <div class="col-sm-8">

  </div>
  <div class="col-sm-4">
    <p class="h4"><%= @profile.full_name %></p>
    <p><%= @profile.username %></p>
    
    
    <p>Join Date: <%= @profile.created_at.strftime("%m/%d/%Y") %></p>
  </div>
</div>
